{{#each this.temporaryUser as |tempUser|}}


   
<h1>{{tempUser.username}}'s Profile <img id='selfie' src={{image}}> </h1>


<p>Change Selfie:</p>
<input type="file" class="form-control" id="image" onchange={{action uploadFile}}/>


<div>
  <p id='bio'>{{tempUser.bio}} </p>
</div>

<br>

<div>
  <h2>Current Bets {{tempUser.username}} Is a Part Of:</h2>
  {{!-- The following is just an example as there is no data to pull yet --}}
  <table>
    <tr>
      <td class='betDescription'>Football Game</td>
      <td class='betAmount'>$100</td>
      <td class='activityStatusActive'>Active</td>
  </tr>
   <tr>
      <td class='betDescription'>Push Up Contest</td>
      <td class='betAmount'>$50</td>
      <td class='activityStatusInactive'>Inactive</td>
  </tr>
  </table>
</div>

 {{/each}}
  

<<<<<<< HEAD
  <br>

=======
>>>>>>> 34761a64d99760644d7ffefc4bf2f5f71e2d2d71
